// **************************************************
//  Variables
// **************************************************

// --------------------------------------------------
//  modifies bootstrap/bootswatch settings
// --------------------------------------------------
//  - you can't use bootstrap variables here,
//    they are unknown here and has to be set first
//
//  TODO: set bootstrap variables in mir variables,
//        if they are needed there (with !default)
//        so you can overwrite that rules here if you like,
//        at the momen you have to set some bs variables,
//        even if you don't need them

// --------------------------------------------------
//  projects settings
// --------------------------------------------------

$wBlue:     #084897;
$wGreen:    rgb(110, 186, 107);
$wBlueLight:#337ab7;
$wOrange:   #d0662b;
$wRedLight: #e1470f;
$wRed:      rgb(156, 23, 6);
$wGrayLight:#f5f5f5;
$wGrayDarkLight: #e5e5e5;
$wGray:     #ccc;

$gray:          #b4bcc2;
$gray-light:    #ededed;

$font-family-serif: "Roboto Slab", "Times New Roman", Times, serif;


// keep deprecated variables alive
$brand-warning: transparent;


// --------------------------------------------------
//  bootstrap over write
// --------------------------------------------------

$primary: $wBlue;
$secondary: $wOrange;
$success: $wGreen;
$info: $wBlueLight;
$warning: $wRedLight;
$danger: $wRed;

$text-color: black;
$link-color: $wBlue;
$link-hover-color: $link-color;

$navbar-light-color: $wBlue;
$navbar-light-hover-color: $wBlue;
$navbar-light-active-color: $wBlue;

$web-font-path: '';
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: $font-family-serif;
$headings-color: $primary;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.375;

$dropdown-padding-y: 0;
$dropdown-border-radius: 0;
$dropdown-link-color: $wBlue;
$dropdown-link-hover-color: $wBlue;
$dropdown-link-hover-bg: $wGrayLight;
$dropdown-border-color: $wGray;
$dropdown-font-size: $font-size-base * 1.25;

$pagination-color: white;
$pagination-bg: $primary;
$pagination-border-color: $primary;
$pagination-hover-color: white;
$pagination-hover-bg: darken($pagination-bg, 10%);
$pagination-hover-border-color: darken($pagination-bg, 10%);
$pagination-active-color: white;
$pagination-active-bg: darken($pagination-bg, 10%);
$pagination-active-border-color: darken($pagination-bg, 10%);
$pagination-disabled-color: $gray;
$pagination-disabled-bg: $gray-light;
$pagination-disabled-border-color: $gray-light;
