/*  common settings
 *  - for very basic settings
 *  - and for styles with no extra file available
 *  - at best, this file is nearly empty :)
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

/* ----------------------------------------------------------------------------
   Font specification
---------------------------------------------------------------------------- */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* ----------------------------------------------------------------------------
   Header
---------------------------------------------------------------------------- */
header {
  background-color: $wGrayDarkLight;
}
html body header #header_box {
  margin: 10px auto 10px auto;
}

#wias_logo_link {
  display: block;
  position: absolute;
  width: 109px;
  height: 110px;
  right: 46%;
  z-index: 2000;
  top: 10px;
  background: transparent url('../../../../images/logos/WIAS_Logo.png') top center no-repeat;
  background-size: 100px;
}

#project_logo_box {
  background: url('../../../../images/jumbotron/claim-bg-orange.png') right top no-repeat;
  background-size: cover;
  padding: 0 2.5rem 0 1rem;
  a {
    color: white;
  }
}
.mir-start_page #project_logo_box {
  display: none;
}

@media (max-width: 767px) {
  header {
    background-size: 50px;
  }
  #wias_logo_link {
    width: 50px;
    height: 50px;
  }
}

/* ----------------------------------------------------------------------------
   Jumbotron
---------------------------------------------------------------------------- */
html .mir-start_page .jumbotron {
  color: #002F66;
  background: #ffffff;
  padding: 0;
}

#wias_jumbo-image {
  width: 100%;
}

/* ----------------------------------------------------------------------------
   Main Navigation
---------------------------------------------------------------------------- */
.navbar {
  min-height: 80px;
}

.mir-main-nav {
  box-shadow: none;
  border-bottom: 4px solid #084897;
  background-color: white;
}

.mir-main-nav .searchfield_box {
  margin: 0;
}

.mir-main-nav .navbar-toggle .icon-bar {
  background-color: #084897;
}

.mir-main-nav nav .navbar-nav > li.active > a,
.mir-main-nav nav .navbar-nav > li.active > a:focus {
  background-color: transparent;
  color: #084897;
}

.mir-main-nav nav .navbar-nav > li > a {
  color: #084897;
  border-bottom: 0 solid transparent;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.mir-main-nav .navbar {
  padding: 0;
  margin-left: -.5rem;
}

.mir-main-nav .dropdown-menu {
  margin: 1.4rem 0 0;
}
.dropdown-menu > li {
  border-bottom: 1px solid $wGray;
  font-family: $font-family-serif;
  &:last-child {
    border: none;
  }
  & > a {
    font-family: $font-family-serif;
  }
}

.mir-prop-nav .navbar-nav > li > a {
  color: $link-color;
}

/* ----------------------------------------------------------------------------
   Footer
---------------------------------------------------------------------------- */
.flatmir-footer {
  background-image: url('../../../../images/footer-bg.png');
  background-repeat: repeat;
  padding: 15px 0;
  text-transform: uppercase;
  color: #fff;
  font-size:14px;
}

.flatmir-footer a {
  color: #fff;
}

html body footer .internal_links {
  line-height: 180%;
  .nav-link {
    padding: 0;
  }
}

html body #powered_by {
  background-color: transparent;
  border: none;
  padding: 0;
}
.mir-start_page .jumbotron {
  text-align: left;
}
.jumbotron {
  position:relative;
  .claim {
    color: white;
    position: absolute;
    top: 30px;
    left: 30px;
    max-width: 700px;
    padding: 10px;
    padding-right: 120px;
    background: url('../../../../images/jumbotron/claim-bg-orange.png') right top no-repeat;
    h1,
    h2 {
      color: white;
    }
  }
}


/* ----------------------------------------------------------------------------
   Classification Browser
---------------------------------------------------------------------------- */

/* workaround, have to be fixed in classification browser */
.cbDescription {
  position: absolute;
  top: 0;
  left: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 30em;
  overflow: hidden;
}

/* Extra small devices (less than 768px) */
@media (max-width: 767px) {
  .cbDescription {
    display: none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cbDescription {
    width: 30em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cbDescription {
    width: 45em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cbDescription {
    width: 58em;
  }
}

.cbList li {
  position: relative;
}


/* ----------------------------------------------------------------------------
   Metadata View
---------------------------------------------------------------------------- */

#headline > h1 {
  font-size: 30px;
}


// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
