/*  common settings
 *  - for very basic settings
 *  - and for styles with no extra file available
 *  - at best, this file is nearly empty :)
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

/* ----------------------------------------------------------------------------
   Header
---------------------------------------------------------------------------- */
header {
  background-color: $wGrayDarkLight;
}
html body header #header_box {
  margin: 10px auto 10px auto;
}

#wias_logo_link {
  display: block;
  position: absolute;
  width: 109px;
  height: 110px;
  right: 46%;
  z-index: 2000;
  top: 10px;
  background: transparent url('../../../../images/logos/WIAS_Logo.png') top center no-repeat;
  background-size: 100px;
}

#project_logo_box {
  background: url('../../../../images/jumbotron/claim-bg-orange.png') right top no-repeat;
  background-size: cover;
  padding: 0 2.5rem 0 1rem;
  a {
    color: white;
  }
}
.mir-start_page #project_logo_box {
  display: none;
}

@media (max-width: 767px) {
  #wias_logo_link {
    background-size: 50px;
    width: 50px;
    height: 50px;
    right: auto;
    left: 15px;
  }
}

/* ----------------------------------------------------------------------------
   Jumbotron
---------------------------------------------------------------------------- */
html .mir-start_page .jumbotron {
  color: #002F66;
  background: #ffffff;
  padding: 0;
}

#wias_jumbo-image {
  width: 100%;
}

/* ----------------------------------------------------------------------------
   Main Navigation
---------------------------------------------------------------------------- */

.mir-main-nav {
  box-shadow: none;
  border-bottom: 4px solid #084897;
  background-color: white;
  .navbar {
    padding: 1rem 0;
    margin-left: -.5rem;
  }
}

.mir-main-nav .searchfield_box {
  margin: 0;
}

.mir-main-nav .navbar-toggle .icon-bar {
  background-color: #084897;
}

.mir-main-nav nav .navbar-nav > li.active > a,
.mir-main-nav nav .navbar-nav > li.active > a:focus {
  background-color: transparent;
  color: #084897;
}

.mir-main-nav .nav-item,
.mir-main-nav #basket-list-item {
  color: #084897;
  border-bottom: 0 solid transparent;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.mir-main-nav .dropdown-menu {
  margin: 1.25rem 0 0;
}
.dropdown-menu > li {
  &:not(.dropdown-divider) {
    border-bottom: 1px solid $wGray;
    font-family: $font-family-serif;
    &:last-child {
      border: none;
    }
    & > a {
      font-family: $font-family-serif;
    }
  }
  &.dropdown-divider {
    margin: -1px 0 0 0;
    border-bottom: 1px solid $primary;
  }
}

.mir-prop-nav .navbar-nav > li > a {
  color: $link-color;
}
.navbar-toggler {
  margin-left: .5rem;
}

/* ----------------------------------------------------------------------------
   Footer
---------------------------------------------------------------------------- */
.flatmir-footer {
  background-image: url('../../../../images/footer-bg.png');
  background-repeat: repeat;
  padding: 15px 0;
  text-transform: uppercase;
  color: #fff;
  font-size:14px;
}

.flatmir-footer a {
  color: #fff;
}

html body footer .internal_links {
  line-height: 180%;
  .nav-link {
    padding: 0;
  }
}

html body #powered_by {
  background-color: transparent;
  border: none;
  padding: 0;
}
.mir-start_page .jumbotron {
  text-align: left;
}
.jumbotron {
  position:relative;
  .claim {
    color: white;
    position: absolute;
    top: 30px;
    left: 30px;
    max-width: 700px;
    padding: 10px;
    padding-right: 120px;
    background: url('../../../../images/jumbotron/claim-bg-orange.png') right top no-repeat;
    h1,
    h2 {
      color: white;
    }
  }
}


/* ----------------------------------------------------------------------------
   Classification Browser
---------------------------------------------------------------------------- */

/* workaround, have to be fixed in classification browser */
.cbDescription {
  position: absolute;
  top: 0;
  left: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50em;
  overflow: hidden;
}
ul.cbList li {
  padding: 0px 0px 10px 10px;
}
.cbList li {
  position: relative;
  p {
    color: $text-color;
  }
}
@include media-breakpoint-down(lg) {
  .cbDescription {
    width: 42em;
  }
}
@include media-breakpoint-down(md) {
  .cbDescription {
    width: 28em;
  }
}
@include media-breakpoint-down(sm) {
  .cbDescription {
    width: 16em;
  }
}
@include media-breakpoint-down(xs) {
  .cbDescription {
    display: none;
  }
}


/* ----------------------------------------------------------------------------
   Metadata View
---------------------------------------------------------------------------- */

#headline > h1 {
  font-size: 30px;
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
  #wias_logo_link {
    right: 36%;
  }
  .cbDescription {
    width: 45em;
  }
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
  #wias_logo_link {
    right: 46%;
  }
  .mir-main-nav .dropdown-menu {
    margin: 0;
  }
  .mir-main-nav .searchfield_box,
  .mir-main-nav nav .navbar-nav {
    margin-left: 15px;
  }
  .mir-main-nav .searchfield_box .form-control {
    width: auto;
    margin-right: 0.5rem;
  }
  .cbDescription {
    width: 30em;
  }
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
  .mir-start_page .jumbotron h1 {
    font-size: 150%;
  }
  #wias_jumbo-image {
    min-height: 160px;
  }
  .jumbotron {
    .claim {
      color: white;
      position: absolute;
      top: 30px;
      left: 30px;
      max-width: 700px;
      padding: 10px;
      padding-right: 120px;
    }
  }
  #project_logo_box {
    margin-left: 60px;
  }
  .cbDescription {
    width: 20em;
  }
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
  .jumbotron {
    .claim {
      left: 15px;
      img {
        display: none;
      }
    }
  }
  h1, .h1 {
    font-size: 2rem;
  }
  .mir-main-nav {
    .navbar {
      padding: 1.5rem 0;
    }
  }
  .cbDescription {
    display: none;
  }
}
