/* ----------------------------------------------------------------------------
   Font specification
---------------------------------------------------------------------------- */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* ----------------------------------------------------------------------------
   Header
---------------------------------------------------------------------------- */
header {
  background: #ffffff url('../images/logos/WIAS_Logo.png') top center no-repeat;
  background-size: 100px;
}

@media (max-width: 767px) {
  header {
    background-size: 50px;
  }
}

html body header #header_box {
  margin: 10px auto 10px auto;
}


/* ----------------------------------------------------------------------------
   Jumbotron
---------------------------------------------------------------------------- */
html .mir-start_page .jumbotron {
  color: #002F66;
  background: #ffffff url('../images/vb_wias_8766.jpg') no-repeat center center;
  height: 350px;
}


/* ----------------------------------------------------------------------------
   Main Navigation
---------------------------------------------------------------------------- */
.navbar {
  min-height: 80px;
}
.mir-main-nav {
  box-shadow: none;
  border-bottom: 4px solid #084897;
}

.mir-main-nav .searchfield_box {
  margin: 0;
}

.mir-main-nav .navbar-toggle .icon-bar {
  background-color: #084897;
}

.mir-main-nav nav .navbar-nav > li > a:hover .caret,
.mir-main-nav nav .navbar-nav > li.open > a .caret,
.mir-main-nav nav .navbar-nav > li.open > a:hover .caret {
  border-top-color: #e1470f !important;
}

.mir-main-nav nav .navbar-nav > li > a:hover,
.mir-main-nav nav .navbar-nav > li > a:focus,
.mir-main-nav nav .navbar-nav > li.active > a:hover {
  color: #e1470f;
  background-color: transparent;
}

.mir-main-nav nav .navbar-nav > li.active > a,
.mir-main-nav nav .navbar-nav > li.active > a:focus {
  background-color: transparent;
  text-decoration: underline;
  color: #084897;
}

.mir-main-nav nav .navbar-nav > li.open > a,
.mir-main-nav nav .navbar-nav > li.open > a:hover,
.mir-main-nav nav .navbar-nav > li.open > a:focus {
    background-color: #e6e6e6;
    color: #e1470f;
}
.mir-main-nav nav .navbar-nav > li > a {
  color: #084897;
  border-bottom: 0 solid transparent;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.mir-main-nav nav .navbar-nav .dropdown-menu {
  border-radius: 0 !important;
  box-shadow: none;
  background-color: white;
  margin-top: 0 !important;
}

.mir-main-nav {
  background-color: transparent;
}

.mir-main-nav nav .navbar-nav .dropdown-menu  {
  margin: 0;
  padding: 0;
  min-width: 300px;
}

.mir-main-nav nav .navbar-nav .dropdown-menu li {
  margin: 0;
  padding: 0;
  display: block;
  border-bottom: 1px solid #ccc;
}

.mir-main-nav nav .navbar-nav .dropdown-menu > li > a {
  color: #084897;
}

.mir-main-nav nav .navbar-nav .dropdown-menu::before {
  border: 0px;
}

/* ----------------------------------------------------------------------------
   Footer
---------------------------------------------------------------------------- */
.flatmir-footer {
  background-image: url('../images/footer-bg.png');
  background-repeat: repeat;
  padding: 30px 0 20px;
}

html body #powered_by {
  background-color: transparent;
  border: none;
}


/* workaround, have to be fixed in classification browser */
.cbDescription {
  position: absolute;
  top: 0;
  left: 200px;
}

.cbList li {
  position: relative;
}
