html body .jumbotron {
    color: #002F66;
    background: unset;
    background-color: #EEE;
}

html body {
  color: #2C3E50;
}

html body #powered_by {
  background-color: #002F66;
  border: none;
}

.flatmir-footer {
  color: #d1d1d1;
  border: none;
}